body {
    background-color: #4396ff;
}

.btn {
    margin-bottom: 0.25rem;
}

.container {
    padding: 20px;
}

.color-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.full-screen-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input,
select,
.color-box {
    margin-top: 0.5rem;
}

span {
    font-weight: bold;
}

.by {
    background-color: #fff0d5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}